

* {
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(228, 226, 226);
}

header {
    background: rgb(97, 114, 156);
    text-align: center;
    height: 125px;
}

 h1 {
    font-size: 30px;
    font-family: cursive;
    
}

header input {
    max-width: 350px;
    min-width: 300px;
    padding: 5px;
    margin-top: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 20px;
}

button {
    padding: 8px;
    width: 35px;
    background: rgb(58, 78, 99);
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}


button:hover {
    background-color: rgb(38, 172, 107);
    box-shadow: 1px 1px 3px 1px rgb(21, 133, 97);
}

ul li  {
   cursor: pointer;
   padding: 10px 0 ;
   font-size: 18px;
   display: flex;
   transition: 0.3s;
   align-items: center;
   justify-content: center;

}


/*Colocando o efeito zebra nas linhas */

ul li:nth-child(odd) {
  background-color: rgb(212, 218, 233);
}

ul li:hover {
  background-color: rgb(102, 144, 144);
}


ul li span {
   width: 80%;
}

ul li i {
   width: 8%;
}

.fa-trash {
    color: rgb(220, 50, 50);
}